<h1>Welcome in your weird-stuff-shop</h1>

<%= link_to "Manage Products", controller: 'products', action: 'index' %>
<br />
<%= link_to "Manage Categories", controller: 'categories', action: 'index' %>
<br />
<%= link_to "Categories Report", controller: 'categories', action: 'report' %>
