<h1>Report for categories</h1>

<p>List of categories with their products</p>

<ul>
<% @categories.each do |category|%>
  <li>
    <%= category.name %>
    <% unless category.products.empty? %>
      <ul>
        <% category.products.each do |product| %>
          <li><%= product.name %></li>
        <% end %>
      </ul>
    <% end %>
  </li>
<% end %>
</ul>
